@font-face {
    font-family: "Whitney";
    src: url('/font/whitneysemibold.ttf');
}

* {
    font-family: "Whitney";
    color: var(--white);
}

:root {
    --darkGray: #2F3136;
    --darkestGray: #202225;
    --lightGray: #40444B;
    --blue: #7289DA;
    --blueHover: #677bc4;
    --white: #eeeeee;
    --red: #f04747;
    --green: #43B581;
    --greenHover: #3ca374;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--darkGray);
}

main {
    margin: 50px;
}

body>main>h1 {
    display: inline-block;
}

.buttonLike,
select {
    border-radius: 3px;
    color: var(--white);
    cursor: pointer;
    display:inline-block;
    font-size: 16px;
    max-width: 300px;
    min-width: 50px;
    padding: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none;
}
.buttonLike {
    background-color: var(--blue);
    border: none;
    transition: 0.2s background-color ease-in-out;
}
.buttonLike:hover {
    background-color: var(--blueHover);
}

.buttonLike.danger {
    border: solid 1px #f047474d;
    background-color: #0000004d;
    color: var(--red);
    transition: 0.2s border-color ease-in-out;
}
.buttonLike.danger:hover {
    border-color: var(--red);
}

.buttonLike.safe {
    background-color: var(--green);
}
.buttonLike.safe:hover {
    background-color: var(--greenHover);
}

.buttonLike+.buttonLike {
    margin: 10px;
}

select {
    background-color: var(--darkestGray);
    border: solid 1px var(--white);
    min-width: 200px;
}
