form {
    background-color: var(--darkest_gray);
	border-radius: 10px;
	margin: auto;
	padding: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	width: fit-content;
}

form * {
	margin: 15px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    background-color: transparent;
    border: solid 1px var(--white);
    border-radius: 3px;
    min-width: 200px;
    font-size: 16px;
    padding: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}
