nav {
	top: 0;
	width: 100%;
    background-color: var(--darkestGray);
    overflow: hidden;
    position: fixed;
}

nav a {
    color: var(--white);
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s background-color ease-in-out;
}

nav a:hover {
    background-color: var(--blue);
}
