table {
    width: 70%;
    margin: auto;
}

tbody>*>* {
    padding: 10px;
}

th {
    text-align: left;
    font-size: 16pt;
    background-color: var(--darkest_gray);
}
th>span:not(:nth-child(1)) {
    cursor: pointer;
}

tr:nth-child(odd)>td {
    background-color: var(--light_gray);
}
tr:nth-child(even)>td {
    background-color: var(--dark_gary);
}

table>tbody>*:nth-child(1)>*:nth-child(1) {
    border-top-left-radius: 5px;
}
table>tbody>*:nth-child(1)>*:nth-last-child(1) {
    border-top-right-radius: 5px;
}
table>tbody>*:nth-last-child(1)>*:nth-child(1) {
    border-bottom-left-radius: 5px;
}
table>tbody>*:nth-last-child(1)>*:nth-last-child(1) {
    border-bottom-right-radius: 5px;
}

th,
tr {
    min-width: 70px;
}

tr>td>.invisInput {
    background-color: inherit;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
}
